@import url(https://meyerweb.com/eric/tools/css/reset/reset200802.css);
* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #ccc;
  padding: 30px;
  background-image: url(../imgs/beachshowcase.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-wrapper {
  text-align: center;
}
.header-wrapper h1 {
  font-size: 3em;
  color: #926239;
  margin: 0 auto 15px;
}
.header-wrapper p {
  font-size: 1.1em;
  margin-bottom: 25px;
  color: #616161;
}
.btn {
  display: inline-block;
  font-size: 1.2em;
  text-decoration: none;
  color: #926239;
  border: #926239 1px solid;
  padding: 15px 25px;
  border-radius: 10px;
  transition: 0.2s;
}
.btn:hover {
  background: #926239;
  color: #fff;
}
.text-center {
  text-align: center;
}
.container {
  padding: 25px;
  line-height: 1.6;
}
.dark-container {
  color: #fff;
  background-color: #926239;
  
}
.light-container {
  color:#926239;
  background-color: #fff;
}
.container-blocks {
  display: flex;
}